:root {
	--main-font: bold 3em Georgia, 'Times New Roman', Times, serif;
	--base-font: normal 2em Georgia, 'Times New Roman', Times, serif;
	--small-font: normal 1.75em Georgia, 'Times New Roman', Times, serif;
	--smallest-font: normal 1.5em Georgia, 'Times New Roman', Times, serif;

	--light-color: #fff;
	--dark-color: #000;
	--primary-color: lightgrey;
	--danger-color: red;

	--size-m: 1rem;
	--size-s: .5rem;
	--size-xs: .25rem;

	--extra-large-spacing: calc(var(--size-m) * 2);
	--large-spacing: var(--size-m);
	--base-spacing: var(--size-s);
	--small-spacing: var(--size-xs);
	--extra-small-spacing: calc(var(--size-xs) / 2);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	color: var(--dark-color);
	background: var(--light-color);
}

section.container {
	margin: auto;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
	-webkit-transition: font-size 0.3s ease;
	-o-transition: font-size 0.3s ease;
	transition: font-size 0.3s ease;
}

section.scale-down,
section.scale-up {
	height: 100vh;
	background-color: var(--primary-color);
}

section.scale-down {
	padding: 40vh 0 0 0;
}

section.scale-up {
	padding: 0 0 40vh 0;
}

section.move-to {
	padding: var(--extra-large-spacing) 0;
	width: 80%;
	height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

div.move-to__left,
div.move-to__right {
	width: 100%;
	height: 100%;
}

div.move-to__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

div.move-to__right>a {
	font-size: 0%;
}

h2.scale-down__text,
h2.scale-up__text {
	font: var(--main-font);
}

:is(h2.scale-down__text, h2.scale-up__text):hover {
	color: var(--danger-color);
	-webkit-transition: color ease 0.3s;
	-o-transition: color ease 0.3s;
	transition: color ease 0.3s;
	cursor: pointer;
}

h2.move-to__left__text {
	font: var(--base-font);
}

div.move-to__left__line {
	margin: var(--base-spacing) 0 0 0;
	height: var(--extra-small-spacing);
	background-color: var(--danger-color);
}

img {
	min-width: 100%;
}

img.move-to__right__img {
	width: 250px;
}

/* Animation styles */
div.move-to__left__line.animate {
	-webkit-transition: all ease 3s;
	-o-transition: all ease 3s;
	transition: all ease 3s;
}

section.move-to.show-animate div.move-to__left__line.animate {
	-webkit-transform: scaleX(4.25);
	    -ms-transform: scaleX(4.25);
	        transform: scaleX(4.25);
}

img.move-to__right__img.animate {
	-webkit-transition: all ease 3s;
	-o-transition: all ease 3s;
	transition: all ease 3s;
}

section.move-to.show-animate img.move-to__right__img.animate {
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

/* Media Queries */
@media only screen and (max-width: 679px) {
	section.move-to {
		padding: var(--extra-large-spacing) 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	div.move-to__right {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	h2.scale-down__text,
	h2.scale-up__text,
	h2.move-to__left__text {
		text-align: center;
	}

	h2.move-to__left__text {
		font: var(--smallest-font);
	}

	div.move-to__left__line {
		margin: var(--base-spacing) auto 0;
		width: 70px;
	}
}

@media only screen and (min-width: 680px) and (max-width: 1023px) {
	section.move-to {
		max-width: 600px;
		height: 500px;
	}

	h2.move-to__left__text {
		font: var(--small-font);
	}

	div.move-to__left__line {
		width: 90px;
	}

	/* Animation styles */
	div.move-to__left__line.animate {
		-webkit-transition: all ease 3s;
		-o-transition: all ease 3s;
		transition: all ease 3s;
	}

	section.move-to.show-animate div.move-to__left__line.animate {
		-webkit-transform: scaleX(5.25);
		    -ms-transform: scaleX(5.25);
		        transform: scaleX(5.25);
	}

	img.move-to__right__img.animate {
		-webkit-transition: all ease 3s;
		-o-transition: all ease 3s;
		transition: all ease 3s;
	}

	section.move-to.show-animate img.move-to__right__img.animate {
		-webkit-transform: translate3d(-15%, -85%, 1em);
		        transform: translate3d(-15%, -85%, 1em);
	}
}

@media only screen and (min-width: 1024px) {
	section.move-to {
		max-width: 900px;
		height: 600px;
	}

	div.move-to__left__line {
		width: 100px;
	}

	img.move-to__right__img {
		width: 350px;
	}

	/* Animation styles */
	div.move-to__left__line.animate {
		-webkit-transition: all ease 3s;
		-o-transition: all ease 3s;
		transition: all ease 3s;
	}

	section.move-to.show-animate div.move-to__left__line.animate {
		-webkit-transform: scaleX(7);
		    -ms-transform: scaleX(7);
		        transform: scaleX(7);
	}

	img.move-to__right__img.animate {
		-webkit-transition: all ease 3s;
		-o-transition: all ease 3s;
		transition: all ease 3s;
	}

	section.move-to.show-animate img.move-to__right__img.animate {
		-webkit-transform: translate3d(-20%, -70%, 2em);
		        transform: translate3d(-20%, -70%, 2em);
	}
}
