:root {
	--main-font: bold 3em Georgia, 'Times New Roman', Times, serif;
	--base-font: normal 2em Georgia, 'Times New Roman', Times, serif;
	--small-font: normal 1.75em Georgia, 'Times New Roman', Times, serif;
	--smallest-font: normal 1.5em Georgia, 'Times New Roman', Times, serif;

	--light-color: #fff;
	--dark-color: #000;
	--primary-color: linear-gradient(90deg,
			rgb(201, 201, 201) 0%,
			rgb(232, 232, 232) 50%,
			rgb(201, 201, 201) 100%);
	--danger-color: red;

	--size-m: 1rem;
	--size-s: .5rem;
	--size-xs: .25rem;

	--extra-large-spacing: calc(var(--size-m) * 2);
	--large-spacing: var(--size-m);
	--base-spacing: var(--size-s);
	--small-spacing: var(--size-xs);
	--extra-small-spacing: calc(var(--size-xs) / 2);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	color: var(--dark-color);
	background: var(--light-color);
}

header.container,
main.container,
footer.container {
	margin: auto;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

header.scale-down,
footer.scale-up {
	height: 100vh;
	background: var(--primary-color);
}

header.scale-down {
	padding: 40vh 0 0 0;
}

footer.scale-up {
	padding: 0 0 40vh 0;
}

main.move-from {
	padding: var(--extra-large-spacing) 0;
	width: 80%;
	height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

div.move-from__left,
div.move-from__right {
	width: 100%;
	height: 100%;
}

div.move-from__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

h2.scale-down__text,
h2.scale-up__text {
	font: var(--main-font);
}

:is(h2.scale-down__text, h2.scale-up__text):hover {
	color: var(--danger-color);
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	cursor: pointer;
}

h2.move-from__left__text {
	font: var(--base-font);
}

div.move-from__left__line {
	margin: var(--base-spacing) 0 0 0;
	height: var(--extra-small-spacing);
	background-color: var(--danger-color);
}

img.move-from__right__img {
	width: 250px;
}

/* Animation styles */
h2.scale-down__text,
h2.scale-up__text,
div.move-from__left,
h2.move-from__left__text,
div.move-from__left__line,
img.move-from__right__img {
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

h2.scale-down__text {
	-webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	        transform: scale(.5);
}

header.scale-down.show-animate h2.scale-down__text {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

h2.scale-up__text {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

footer.scale-up.show-animate h2.scale-up__text {
	-webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	        transform: scale(.5);
}

main.move-from.show-animate div.move-from__left {
	-webkit-transform: translateY(.35in);
	    -ms-transform: translateY(.35in);
	        transform: translateY(.35in);
}

main.move-from.show-animate h2.move-from__left__text {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

main.move-from.show-animate div.move-from__left__line {
	-webkit-transform: translateY(-.4in) scaleX(4.5);
	    -ms-transform: translateY(-.4in) scaleX(4.5);
	        transform: translateY(-.4in) scaleX(4.5);
}

main.move-from.show-animate img.move-from__right__img {
	-webkit-transform: translate(0, -40%);
	    -ms-transform: translate(0, -40%);
	        transform: translate(0, -40%);
}

/* Media Queries */
@media only screen and (max-width: 679px) {
	main.move-from {
		padding: var(--extra-large-spacing) 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	div.move-from__right {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	h2.scale-down__text,
	h2.scale-up__text,
	h2.move-from__left__text {
		text-align: center;
	}

	h2.move-from__left__text {
		font: var(--smallest-font);
	}

	div.move-from__left__line {
		margin: var(--base-spacing) auto 0;
		width: 70px;
	}

	/* Animation styles */
	main.move-from.show-animate h2.move-from__left__text {
		-webkit-transform: translateY(.2in);
		    -ms-transform: translateY(.2in);
		        transform: translateY(.2in);
	}
}

@media only screen and (min-width: 680px) and (max-width: 1023px) {
	main.move-from {
		max-width: 600px;
		height: 500px;
	}

	h2.move-from__left__text {
		font: var(--small-font);
	}

	div.move-from__left__line {
		width: 90px;
	}

	/* Animation styles */
	main.move-from.show-animate div.move-from__left {
		-webkit-transform: translate3d(15%, 15%, 1em);
		        transform: translate3d(15%, 15%, 1em);
	}

	main.move-from.show-animate div.move-from__left__line {
		-webkit-transform: translateX(100%) scaleX(3);
		    -ms-transform: translateX(100%) scaleX(3);
		        transform: translateX(100%) scaleX(3);
	}

	main.move-from.show-animate img.move-from__right__img {
		-webkit-transform: translate3d(-15%, -55%, 1em);
		        transform: translate3d(-15%, -55%, 1em);
	}
}

@media only screen and (min-width: 1024px) {
	main.move-from {
		max-width: 900px;
		height: 600px;
	}

	div.move-from__left__line {
		width: 100px;
	}

	img.move-from__right__img {
		width: 350px;
	}

	/* Animation styles */
	main.move-from.show-animate div.move-from__left {
		-webkit-transform: translate3d(20%, 5%, 2em);
		        transform: translate3d(20%, 5%, 2em);
	}

	main.move-from.show-animate div.move-from__left__line {
		-webkit-transform: translateX(100%) scaleX(3);
		    -ms-transform: translateX(100%) scaleX(3);
		        transform: translateX(100%) scaleX(3);
	}

	main.move-from.show-animate img.move-from__right__img {
		-webkit-transform: translate3d(-20%, -55%, 2em);
		        transform: translate3d(-20%, -55%, 2em);
	}
}
